PORT=5000

NODE_ENV=development

MONGO_URI=YOUR_URI
CLIENT_URL=http://localhost:5173

JWT_SECRET=YOUR_SECRET

JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME

CLOUDINARY_API_KEY=YOUR_KEY

CLOUDINARY_API_SECRET=YOUR_SECRET

GEMINI_API_KEY=YOUR_API_KEY
